@{
    ViewBag.Title = "Contact Us Today";
}
<h2>@ViewBag.Title.</h2>
<h2>@ViewBag.Message</h2>

<address>
    <strong>Postage At:</strong>
    <br />
    420 Wallaby Way<br />
    Durban, SA<br />
    <abbr title="Phone"><strong>Phone us today on:</strong></abbr>
    031-285-9851
</address>

<address>
    <strong>Get In Touch With Our Support Team:</strong>   <a href="mailto:Support@LightYear.com">Support@LightYear.com</a><br />
    <strong>For Any Queries Contact:</strong> <a href="mailto:Queries@LightYear.com">Queries@LightYear.com</a><br />
    <strong>Get A Free Quotation:</strong> <a href="mailto:Quotes@LightYear.com">Quotes@LightYear.com</a><br />
</address>